[submodule "lib/eigen"]
	path = lib/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "lib/libzmq"]
	path = lib/libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "lib/capstone"]
	path = lib/capstone
	url = https://github.com/capstone-engine/capstone.git
[submodule "lib/luajit"]
	path = lib/luajit
	url = https://github.com/MattMills/LuaJIT.git
[submodule "lib/sigmatch"]
	path = lib/sigmatch
	url = https://github.com/SpriteOvO/sigmatch.git
